Name:
= @restaurant.name
%p
Description:
= @restaurant.description
%p
Review:
= @restaurant.reviews.first.thought if @restaurant.reviews.any?
%p
Rating:
= @restaurant.reviews.first.rating if @restaurant.reviews.any?
